span{

    color: orange;
}
body{
    font-family: 'Rubik', sans-serif;
    margin:0px;
}
h1{
    font-size: 50px;
    color: rgb(92, 86, 86);
}
.thediet{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;
}
.half-width img{
    width : 100%;
    padding-bottom: 100px;
    

}
p{
    color: gray;
}
.link-button{
    text-decoration: none;
    color:whitesmoke;
    background-color: orange;
    padding: 20px 50px ;
    border-radius: 50px;
    background-image: linear-gradient(to right top,orange, rgb(238, 55, 23));
    font-weight: 800px;
}
.aboutme{
    display: flex;
    padding-top: 80px;
    background-color: rgb(247, 233, 223);
    
    
}
#about-me{
    font-family: 'Mulish', sans-serif;
   padding-top: 120px;
   padding-left: 100px;
   
}
#female{
    padding-top: 50px;
    padding-left: 100px;
    width: 70%;
}
#Lorem{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 100px;
}
